@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 32, 46;
    --background-end-rgb: 5, 10, 48;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Cores personalizadas */
/* :root {
  --color-background: 5, 68, 94;
  --color-text: 218, 226, 236;
}

body {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-text));
} */
